.modalclosebutton{
    width: 30px;
      height: 30px;
      border-radius: 15px;
      background: #00a9e0;
      text-align: center;
      color: #fff;
      transition: ease-out 0.15s;
      line-height: 32px;
      cursor: pointer;
  }


  .title-modal{
    color: #00a9e0;
    
}
.btn-generate{
    background-color: #00a9e0;
    color: #ffffff;
}