.title-login {
	font-family: 'Telefonica Regular', Helvetica, Arial, Verdana, Tahoma, sans-serif;
	color: #ffffff;
	font-weight: normal;
}

//css parte 1
.logo-row {
	background: #00a9e0;

	.image-logo {
		background: url('/assets/images/contigo_logo.png') no-repeat;
		height: 25px;
	}
}

.body-row {
	height: 35%;
	border-radius: 0 0 50% 50%;
	background: url(/assets/images/BG.jpeg);
	background-repeat: repeat;
	background-size: contain;
	text-align: center;
	background-position: center;
	padding-top: 30px;
}
.img-contenedor {
	margin-top: 10px;
	padding: 10px;
	height: 65%;
}
.bienvenido {
	color: #fff;
	font-size: 24px;
	font-family: cursive, Helvetica, Arial, Verdana, Tahoma, sans-serif;
	font-weight: 700;
	margin-bottom: 20px;
}
@media (max-width: 600px) {
	.body-row {
		height: 25%;
		border-radius: 0 0 80% 80%;
		background: url(/assets/images/BG.jpeg);
		background-repeat: repeat;
		background-size: contain;
		text-align: center;
		background-position: center;
		padding-top: 17px;
	}
	.img-contenedor {
		height: 70%;
	}
}
@media (max-width: 900px) {
	.img-contenedor {
		height: 60%;
	}
}

/*css old component*/
// NEW
.login-form-container {
	display: block;
	width:35%;
	margin-top: 100px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	border:  1px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	background-color:rgba($color: #ffff, $alpha: 0.8);
	height: auto;
}

.login-form-label {
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 18px;
	font-weight: 600;
}
// OLD
.center-mid {
	border-radius: 20px;
	width: 45%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.9);

	padding: 6% 0;
	position: relative;
	transform: translateY(40%);
}
.cen-input,
.cen-text {
	width: 100%;
	display: flex;
	justify-content: center;
}
.icon {
	display: flex;
	align-content: center;
	justify-content: center;
	font-size: 30px;
}
.icon-centr {
	display: flex !important;
	align-self: center !important;
	justify-content: center !important;
}

.cen-text {
	text-align: center;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 8px;
}
.cen-text img {
	width: 150px;
}
.m-au {
	margin: 0 auto;
}
i {
	color: #00a9e0;
}
.space-login::before {
	content: '';
	width: 300px;
	margin: 30px auto;
	background-color: red($color: #000000);
}
@media (min-width: 768px) {
	.title-login {
		font-size: 50px;
	}
}
@media (max-width: 900px) {
	.center-mid {
		border-radius: 20px;
		width: 75%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-direction: column;
		background-color: rgba(255, 255, 255, 0.9);

		padding: 11% 0;
		position: relative;
	}
	.login-form-container {
		width: 70%;
		margin: auto;
		margin-top: 7%;
	}
}
@media (max-width: 600px) {
	.login-form-container {
		width: 80%;
		margin: auto;
		margin-top: 30%;
	}

	.center-mid {
		border-radius: 20px;
		width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-content: center;
		flex-direction: column;
		background-color: rgba(255, 255, 255, 0.9);

		padding: 20% 0;
		position: relative;
	}
	.cen-text {
		padding-bottom: 10px;
	}
	.col-20 {
		width: 20%;
	}
	.col-80 {
		width: 80%;
	}
}

.error-login {
	color: #c20020;
	text-align: center;
	margin: 1rem;
	font-size: 16px;
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

/*css surveey*/

.sections-survey {
	width: 100%;
	padding: 10px;
	border: 1px groove #5bc500;
	margin-top: 10px;
	border-radius: 10px;
}

.btn-add {
	border: 2px groove #5bc500;
	color: #5bc500;
	background-color: #ffffff;
	transition: 0.3;
}

.btn-add:hover {
	border: 2px groove #ffffff;
	color: #ffffff;
	background-color: #5bc500;
	transition: 0.3;
}

.header-card {
	display: block;
	background-color: #5bc500;
	width: 100%;
	text-align: center;
	color: #ffffff;
	padding: 2.5px;
}

table th {
	background-color: #5bc500;
	text-align: center;
	color: #ffffff;
	font-size: 15px;
	text-transform: uppercase;
}

.btn-add-question {
	border: 1px groove rgb(245, 156, 0);
	color: rgb(245, 156, 0);
	border-radius: 5px;
}
.btn-add-question:hover {
	border: 1px groove #ffffff;
	color: #ffffff;
	border-radius: 5px;
	background-color: rgb(245, 156, 0);
}

.btn-add-actions {
	border: 1px groove #00a9e0;
	color: #00a9e0;
	border-radius: 5px;
	background-color: #ffffff;
}

.btn-add-actions:hover {
	border: 1px groove #ffffff;
	color: #ffffff;
	border-radius: 5px;
	background-color: #00a9e0;
}

.td-align {
	padding: 10px;
	text-align: center;
}

.btn-add-survey {
	background-color: #00a9e0;
	color: #ffffff;
	border: 1px groove #00a9e0;
	border-radius: 5px;
}
.btn-add-edit {
	border: 1px groove #954b97;
	background-color: #954b97;
	color: #ffffff;
	border-radius: 5px;
}

.btn-add-survey:hover {
	border: 1px groove #ffffff;
	color: #ffffff;
	border-radius: 5px;
	background-color: #00a9e0;
}

//RESET PASSWORD FORM BEFORE FORM LOGIN

.btn-reset-pass {
	margin-top: 10px !important;
	background-color: #00a9e0 !important;
	width: 100%;
	border: 1px groove #00a9e0;
	color: #ffffff;
	border-radius: 8px;
	transition: 0.3s;
}

.btn-login-pass {
	margin-top: 20px !important;
	background-color: #00a9e0 !important;
	width: 100%;
	border: 1px groove #00a9e0;
	color: #ffffff;
	border-radius: 8px;
	transition: 0.3s;
}
/* .btn-reset-pass:hover {
      background-color: #00a9e0 !important;
    color: #ffffff;
    transition: .3s;
  } */
.tittle {
	margin-top: 20px !important;
}

.button {
	margin-top: 10px !important;
	background-color: #00a9e0 !important;
	width: 100%;
}

.centerContent {
	text-align: center;
	font-size: 3vmin;
}
.subcenterContent {
	text-align: center;
	font-size: 13px;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media (max-width: 500px) {
	.centerContent {
		text-align: center;
		font-size: 4.5vmin;
	}
	.subcenterContent {
		text-align: center;
		font-size: 12px;
	}
}
.lefLink {
	display: inline-block;
	text-align: right;
}

.resetCard {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	margin: 10px auto;
	border: 1px solid #d3d4d3;
}
.font-reset-password {
	font-size: 15px;
	text-align: center;
	color: #00a9e0;
	margin-top: 15px;
	cursor: pointer;
}

.return-login {
	color: #ec6839;
	display: inline-block;
	border-style: none;
	cursor: pointer;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 6px;
	padding-left: 6px;
	transition: 3s;
	margin-top: 8px;
	margin-bottom: 8px;
}
.return-login:hover {
	text-decoration: underline;
	transition: 3s;
}

.container-reset-password {
	background-color: transparent;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	width: 80%;
	min-width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}





// css login antiguo
/* kt-auth {
	
	background-image: url("assets_client/media/bg/auth-bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	background-size: cover;
} */

/* .background-login{
	background-image: url("assets_client/media/bg/auth-bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.background-login-ter{
	background-image: url("assets_client/media/bg/login-ter.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
} */

.kt-login {
	background: transparent !important;
}

.kt-login__wrapper {
	background: transparent !important;
}

.kt-form div {
	margin-top: 15px;
	margin-bottom: 15px;
}

.kt-form #recover_password {
	margin-top: 20px;
	margin-bottom: 20px;
}

.kt-form #btn-submit {
	margin-top: 30px;
	margin-bottom: 40px;
}

/* .loginContainer {
	background-color:rgba(255,255,255,.5);
	opacity: 0.4;
	border-radius: 15px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	transition: 0.5s;
} */
.loginContainer {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	margin: 100px auto;
	box-shadow: inset 0px 0px 15px 5px white;
	width: 40%;
	padding: 0 15px;
}

.logoContainer {
	margin-top: -50%;
}

.title {
	width: 200px;
	height: 60px;
	line-height: 60px;
	background-color: rgb(0, 169, 224);
	color: white;
	margin: auto;
	margin-top: -15px;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	border: 1px solid white;
	padding: 10px;
}
.logoContainer {
	text-align: center;
	margin: 30px auto;
	margin-bottom: 50px;
	height: 100px;
}
.logo {
	width: 200px;

	line-height: 60px;
	background-color: rgb(0, 169, 224);
	color: white;
	margin: auto;
	margin-top: -95px;
	font-weight: bold;
	text-align: center;
	border-radius: 10%;
}
.wrapInput {
	border-radius: 6px;
	display: flex;
	padding: 5px 5px;
	margin: 3px 3px;
}
.input {
	border: none;
	background-color: transparent;
	color: white;
}
.input::placeholder {
	color: white;
}
.iconInput {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
.subOptions {
	display: flex;
	justify-content: space-between;
	margin: 0 27px;
	color: #76ba2e;
}
.submitButton {
	width: 350px;
	height: 55px;
	line-height: 55px;
	border: none;
	background-color: #f09800;
	color: white;
	margin: auto;
	font-weight: bold;
	border-radius: 6px;
}
.submitContainer {
	text-align: center;
	
}

/*button css*/
.primary_btn {
	padding: 10px;
	border: 1px solid rgba(0, 169, 224, 0.5);
	border-radius: 5px;
	background-color: rgb(0, 169, 224);
	color: rgb(255, 255, 255);
	transition: 0.5s;
}
.primary_btn:hover {
	color: rgb(255, 255, 255);
	border: 1px solid white;
	transition: 0.5s;
}
/*input css*/
.form_input {
	border: 3px solid rgb(0, 169, 224);
}
.header_login {
	margin-top: -70px;
}
