

<p>La ultima actualizacion fue: 01/01/21</p>


  <!-- Aqui inicia los cuadros de los trimestres -->

  <div class="container">
    <div class="row">
      <div class="col-10">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th></th>
              <th>1Q</th>
              <th>2Q</th>
              <th>3Q</th>
              <th>4Q</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>FTES</td>
              <td>Suma</td>
              <td>Suma</td>
              <td>Suma</td>
              <td>Suma</td>
            </tr>
            <tr>
              <td>Cant. de contratos</td>
              <td>Suma</td>
              <td>Suma</td>
              <td>Suma</td>
              <td>Suma</td>
            </tr>
            <tr>
              <td>Gasto Total</td>
              <td>Suma</td>
              <td>Suma</td>
              <td>Suma</td>
              <td>Suma</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-outline-primary">Editar Encabezados</button>
      </div>
    </div>
  </div>

  

  <!-- Aqui finaliza los cuadros de los trimestres -->

  <div class="espace" style="margin: 50px  auto;">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <form class="card card-sm">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
              </div>
              <!--end of col-->
                <div class="col">
                  <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Busqueda general...">
                </div>
                  <!--end of col-->
                <div class="col-auto">
                <button class="btn btn-lg btn-success" type="submit">Buscar</button>
          </div>
          <!--end of col-->
        </div>
      </form>
      </div>
    <!--end of col-->
    </div>

  
  </div>

  <!-- Botones -->

    <section>
      
      <div class="example-button-row">
        <button class="buttom" mat-raised-button color="primary">Enviar Por Correo</button>
        <button class="buttom" mat-button (click)="openDialog()" mat-raised-button color="primary">Lista de Gestores Pendientes</button>
        <button class="buttom" mat-raised-button color="primary">Ver Gráficos</button>
        <button class="buttom" mat-raised-button color="primary">Configuración de Periodo</button>
        <button class="buttom" mat-raised-button color="primary">Ver Gestores</button>
        <button class="buttom" mat-raised-button color="primary">Ver Base Histórica</button>
        <button class="buttom" mat-raised-button color="primary">Descargar</button>
      </div>
     
    </section>

  <!-- Fin de botones -->

<br>
<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="subActividad">
      <th mat-header-cell *matHeaderCellDef> Sub Actividad </th>
      <td mat-cell *matCellDef="let element"> {{element.subActividad}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>

    <!-- Editar -->
    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element"> {{element.editar}} </td>
    </ng-container>

    <!-- Numero de Contrato -->
    <ng-container matColumnDef="numContrato">
      <th mat-header-cell *matHeaderCellDef> Número de Contrato </th>
      <td mat-cell *matCellDef="let element"> {{element.numContrato}} </td>
    </ng-container>

    <!-- Gestor -->
    <ng-container matColumnDef="gestor">
      <th mat-header-cell *matHeaderCellDef> Gestor </th>
      <td mat-cell *matCellDef="let element"> {{element.gestor}} </td>
    </ng-container>

    <!-- Fecha de Inicio -->
    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
    </ng-container>

    <!-- Fecha Fin -->
    <ng-container matColumnDef="fechaFin">
      <th mat-header-cell *matHeaderCellDef> Fecha Fin </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaFin}} </td>
    </ng-container>

    <!-- FTES -->
    <ng-container matColumnDef="ftes">
      <th mat-header-cell *matHeaderCellDef> FTES </th>
      <td mat-cell *matCellDef="let element"> {{element.ftes}} </td>
    </ng-container>

    <!-- Estado -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado</th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>

    <!-- Costos Terceros -->
    <ng-container matColumnDef="costoTerceros">
      <th mat-header-cell *matHeaderCellDef> Costo Terceros </th>
      <td mat-cell *matCellDef="let element"> {{element.costoTerceros}} </td>
    </ng-container>

    <!-- Comentarios -->
    <ng-container matColumnDef="comentarios">
      <th mat-header-cell *matHeaderCellDef> Comentarios </th>
      <td mat-cell *matCellDef="let element"> {{element.comentarios}} </td>
    </ng-container>

    <!-- Contactar -->
    <ng-container matColumnDef="contactar">
      <th mat-header-cell *matHeaderCellDef> Contactar </th>
      <td mat-cell *matCellDef="let element"> 
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
        <!-- <fa-icon [icon] = "faCoffee"></fa-icon> -->
        <i class="fab fa-whatsapp"></i>
        {{element.contactar}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

  <!-- Prueba  del boton de Whatsapp-->
  <div class="btn-whatsapp">
    <a href="https://api.whatsapp.com/send?phone=51902257704" target="_blank">
    <img src="http://s2.accesoperu.com/logos/btn_whatsapp.png" alt="">
    </a>
  </div>

