
.buttom {
    margin-right: 15px;
    font-size: 1.2em;
    
}

.espace {
    margin: 0 auto;
    width: 950px;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
/* Comienza la tabla del backend */
#tabla1 {
    overflow-x: scroll;
    height: 500px;
    width: 1275px;
}
#tabla1 table {
    width: 400px;
}
/*  Inicio Termina la tabla del backend */

/* Paginacion de la tabla  */
.mat-form-field {
    margin-right: 12px;
  }

  #pagination {
      position: -webkit-sticky;
      position: sticky;
      right: 0;
  }
/* Fin Paginacion de la tabla  */

.cont-pagination {
    float: right;
}
.buttom-movistar {
    margin-right: 1px;
    font-size: 1.055em;
    background-color: #065670;
    color : #ffffff;
}
#w3-bar a:hover{
    background-color: #42B881;
}

#menu ul li a:hover{
			background-color: #2AA0EC;
		}
.movistar-celeste {
    background-color:  #2AA0EC;
    color: #ffffff;
}



		#menu{
			background-color: #065670;
            
		}

		#menu ul{
			list-style: none;
			margin: 4;
			padding: 0;
		}

		#menu ul li{
			display: inline-block;
		}

		#menu ul li a{
			color: white;
			display: block;
			padding: 10px 10px;
			text-decoration: none;
		}

		

		.item-r{
			float: right;
		}