.gesnext {
	font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
	align-content: center;
}

p {
	color: #098b58;
	font-size: 16px;
}

h1,
h2,
h5 {
	color: white;
	border-radius: 5px;
	background-color: #06acef;
	display: inline-block;
	padding: 2px 5px;
	align-content: center;
	text-align: center;
}

.title {
	color: rgb(0, 176, 240);
	border-radius: 8px;
	font-size: 25px;
	font-weight: bold;
}

.sub_title {
	color: black;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
}
.container-img-home {
	align-content: center;

	height: 100%;
	width: 100%;
}
