
.cardtdp{
    margin: 0 25px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    background: white;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.cardtdp-content{
    padding: 20px 20px;
}
.titlecomp{
    margin: 0 25px;
    /* padding: 30px; */
    color: #565656;
}
.titlecomp h3{
    margin: auto;
}
.titlecomp p{
    margin: auto;
}
// tabla
.terceros-table{
    width: 100%;
    //border: solid 1px #ddd;
}
.terceros-table tr{
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.terceros-table td {
    padding: 10px;
    text-align: center;
}
.terceros-table th{
    text-align: center;
    padding: 10px;
    background-color: #00a9e0;
    color: #ffffff;
    font-size: 13px;
}
.panel-search-terceros{
    display: flex;
    flex-direction: column;
}
.panel-terceros-label{
    width: 100%;
    margin: auto;
    color:  #979797 ;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
}
.terceros-searcher{
    display: flex;
    margin-bottom: 20px;
}
.terceros-searcher input{
    padding: 5px 10px;
    border: solid 1px #ddd;
    border-top-left-radius: 3px;
}
.panel-ser-button{
    border: solid 1px #00a9e0;
    background-color: #00a9e0;
    color: #fff;
    
}
.terc-btn-simple{
    background-color: #fff;
    border: solid 1px #ddd;
    margin: 0 10px;
}
.link-edit{
    font-weight: 600;
    border: solid 2px #5bc500;
    background: #fff;
    padding: 3px 10px;
    color: #5bc500 !important;
    text-decoration: none !important;
    margin: 5px;
    transition: ease 0.3s;
}
.link-edit:hover{
    cursor: pointer;
    color: #fff !important;
    background-color: #5bc500;
}
.add-gestor{
    font-weight: 600;
    border: solid 2px #b80843;
    background: #fff;
    padding: 3px 10px;
    color: #b80843 !important;
    text-decoration: none !important;
    margin: 5px;
    transition: ease 0.3s;
}
.add-gestor:hover{
    cursor: pointer;
    color: #fff !important;
    background-color: #b80843;
}
.view-gestor{
    font-weight: 600;
    border: solid 2px #979797;
    background: #fff;
    padding: 3px 10px;
    color: #979797 !important;
    text-decoration: none !important;
    margin: 5px;
    transition: ease 0.3s;
}
.view-gestor:hover{
    cursor: pointer;
    color: #fff !important;
    background-color: #979797;
}
.link-delete{
    font-weight: 600;
    color: #db5151 !important;
    text-decoration: none !important;
    margin: 5px;
}
// file section
.inputfile_container{
    width: 80%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: solid 2px #00a9e0;
    /* border-radius: 9px; */
    /* border-right: solid 2px #00a9e0; */
    overflow: hidden;   
}
.filebuton{
    width: 210px;
    text-align: center;
    background-color: #00a9e0;
    border-radius: 0;
    color: #fff;
    box-shadow: 0 0 0 0;
}
.filename{
    line-height: 15px;
    color: grey;
    padding: 0 10px;
}
.fileinput{
    display: none;
}
.btn-process-terceros{
    width: 80%;
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    color: #5bc500;
    border: solid 1px #5bc500;
}
.cardtdp-header{
    background-color: #00a9e0;
    color: #fff;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 500;
}

.newuser-container {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .btn_movistarceleste{
    background-color: #00a9e0;
    margin: 10px auto;
    color: #fff;
    display: block;
    margin-top: 10px;
}
.formcomp-container{
    border: solid 1px #a0a0a0;
    border-radius: 3px;
    width: 100%;
    margin: auto;
}
.alert-noaction{
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #646464;
}
.mainactionselect{
    width: 80%;
    margin: auto;
    display: block;
    font-size: 14px;
}
@media(max-width: 1200px){
    .cardtdp{
        margin-left: 50px;
    }
}
@media (max-width: 600px) {
    .cardtdp {
      margin: 0;
      width: 100%;
      margin-bottom: 20px;
    }
    .cardtdp-content{
        padding: 10px;
    }
    h5{
        font-size: 1rem;
    }
}
.btn-search-employee{
    background-color: #00a9e0;
    margin: 5px auto;
    color: #fff;
    
}
.btn_newCompanyService{
    background-color:#08c017; 
    margin: auto;
    color: #fff;
    margin-top: 10px;
    display: block; 
}
.btn_back{
    background-color:#db5151; 
    margin: auto;
    color: #fff;
    margin-top: 10px;
    display: block;
}

// css JOAO
// css Joao
.main-title {
	font-family: 'Telefonica Regular', Helvetica, Arial, Verdana, Tahoma, sans-serif;
    color: #00a9e0;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    text-decoration: underline;
}
.sub-title{ 
    font-family: 'Telefonica Regular', Helvetica, Arial, Verdana, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}


.sticker-company{ 
    border-bottom-right-radius: 30px;box-shadow: 1px 1px 4px 1.5px rgba(0,0,0,0.5);
    color: #ffffff;position: relative;width: 100px;height: 25px;text-align: left;
    padding: 5px 20px;font-size: 10px;top: auto;float: left;margin: 0;left: -10px;
}


/* @media (min-width:1068px) and (max-width:1500px){
    .sticker-company{ 
        top: -30px;left: -25%;
        
    }
} */
/* @media (min-width:1px){ 
    .sticker-company{ 
        top: -25px;
        
    }
} */
@media (min-width:1000px) and (max-width:1125px){ 
    .sticker-company{ 
        top: auto;
        
    }
}
@media (min-width:801px) and (max-width:1000px){
    .sticker-company{ 
        top: auto;
        
    }
}

@media (min-width:600px) and (max-width:800px){
    .sticker-company{ 
        top: auto;
        
    }
}

@media (max-width:600px){
    .sticker-company{ 
        top: auto;
        
    }
}