@import '~@angular/material/prebuilt-themes/indigo-pink.css';

table {
	width: 100%;
}

th.mat-sort-header-sorted {
	color: black;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');

  
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu{
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}

.accion-eliminar {
  background-color: white;
  transition: background-color .5s;
  font-size: 13px;
}

.accion-no-corresponde {
  background-color: white;
  transition: background-color .5s;
  font-size: 13px;
}

.accion-iniciar-atencion {
  background-color: white;
  transition: background-color .5s;
  font-size: 13px;
}

.accion-eliminar:hover {
  background-color: #EA2E2E;
}

.accion-no-corresponde:hover {
  background-color: #3477E3;
}

.accion-iniciar-atencion:hover {
  background-color: #2AA5E7;
}

.accion-no-fftt:hover {
  background-color: #3477E3;
}

.accion-no-contacto:hover {
  background-color: #3477E3;
}

.accion-fin-atencion:hover {
  background-color: #3477E3;
}

.accion-comentario-dinamico:hover {
  background-color: #3477E3;
}

.accion-no-fftt {
  background-color: white;
  transition: background-color .5s;
  font-size: 13px;
}

.accion-no-contacto {
  background-color: white;
  transition: background-color .5s;
  font-size: 13px;
}

.accion-fin-atencion {
  background-color: white;
  transition: background-color .5s;
  font-size: 13px;
}

.accion-comentario-dinamico {
  background-color: white;
  transition: background-color .5s;
  font-size: 13px;
}

.titulo {
  font-size: 32px;
}


  @media (max-width:850px){
    .inputFechaInicio, .inputFechaFin{
      width: 80%!important;
    }
    .iconoFechaInicio, .iconoFechaFin {
      width: 20%!important;
      
    }
  }

  @media (max-width:500px){
    .titulo {
      font-size: 28px;
    }
  }


  // css joao
.aling-content-td{
 text-align: center;
  padding: 0;
  margin: 0;

}
.show-red-quiebre{ 
  background-color: #2AA5E7;border-radius: 5%;color: #ffffff;text-align: center;
  display: inline-block;
}

table th{
  background-color: #2AA5E7;
  padding: 2px 15px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.bg-search-date{ 
  background-color: #EA2E2E;
  color: #ffffff;
  overflow: hidden;
}

.title-search-date{
  color:  #EA2E2E;
}

// table responsive
table td { 
  vertical-align: middle;
}

.bg-quiebre { 
  font-size: 30px;text-align: center;font-weight: bold;cursor: pointer;color:  #F59C00;
}
.bg-data-emb{
  font-size: 30px;text-align: center;font-weight: bold;cursor: pointer;color:  #EA2E2E;
}
.bg-comment{
  font-size: 30px;text-align: center;font-weight: bold;cursor: pointer;color:  #2AA5E7;
}
.container-show{
  transition: all 0.5s ease-in;
  display: none;
  position: absolute;left: 40px;top: 5px;font-size: 13px;padding: 4px 0px;border-radius: 5px;overflow: hidden;width: 160px;height:25px;background-color: rgba(0, 0, 0, 0.5);color: #ffffff;vertical-align: middle;
}
.bg-comment:hover .container-show{
  display: block;
  transition: all 0.5s ease-in;
  z-index:1;
}

.bg-data-emb:hover .container-show {
  display: block;
  transition: all 0.5s ease-in;
}
.bg-quiebre:hover .container-show{
  display: block;
  transition: all 0.5s ease-in;
}

table tr td{ 
  text-align: center;
}

// BOTON ESPECIAL ===========================================================
$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;

body{
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  background-color: $baby-blue;
}
.bubbly-button{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg;
  color: $button-text-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
 
  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}