
<div class="d-flex">

  <!-- Sidebar -->
  <div class="bg-info border-right p-3" id="sidebar">

    <i class="fab fa-redhat"></i>

    <hr class="text-white" />

    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">Base historica</a>
      <a href="#" class="list-group-item list-group-item-action">Datos</a>
      <a href="#" class="list-group-item list-group-item-action">Mapas</a>
      <a href="#" class="list-group-item list-group-item-action">Cuadros Estadisticos</a>
      <a href="#" class="list-group-item list-group-item-action">Gestores</a>
      <a href="#" class="list-group-item list-group-item-action">User</a>  
    </div>
  </div>


  
    <!-- End Sidebar -->

  
    <!-- Container -->
  <div class="container">
    <div class="row p-3">

    <!-- <app-user></app-user> -->

    
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <i class="fas fa-user"></i>
          <a class="navbar-brand">Nombre de Ususario</a>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <hr class="text-dark pt-2">

      

      <app-user></app-user>



    </div>

    <!-- Tooltip -->
  
    <!-- <app-dashboard></app-dashboard> -->

    <br>
    <hr />
    <br>

    <!-- Inicio de Tabla -->

    <app-tabla></app-tabla>

    <!-- Fin de Tabla -->

    <br>


  </div>
  <!-- Fin Container -->

</div>