<p class="modalheader">{{titleForm}}
    <span style="flex: 1 1 auto"></span>
    <span (click)="closeModal()" class="modalclosebutton"> <em class="flaticon2-delete"></em> </span>
</p>
  <div [formGroup]="supplierForm.managerSupplier" class="newuser-container">
    <div id="form_01" style="width: 100%;transition: 0.3s;" *ngIf="!formCondition && actionForm==='S'">
        <div class="row"  *ngIf="actionForm==='S'">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="../../../../../../assets/images/media/formSections/one.png"
                     class="img rounded mx-auto d-block" alt="one">
            </div>
        </div>
        <mat-divider></mat-divider>
        <section style="padding-top:10px ;padding-bottom: 5px;">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2">
                        <mat-form-field appearance="fill"  style="width: 100%;">
                            <mat-label class="text-center">DNI o Nro de documento</mat-label>
                            <input formControlName="nationalId" class="text-center"  matInput placeholder="DNI o Nro de documento*">
                        </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div  class="col-xs-12 col-sm-12 col-md-12">
                    <button mat-raised-button (click)="nextForm(actionForm)" class="flaticon2-next btn btn_movistarceleste"> Siguiente</button> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12" *ngIf="showMessageCondition">
                    <p class="messageCondition">{{messageCondition}}</p>
                </div>
            </div>
        </section>
    </div>
    <div id="form_02" style="width: 100%;transition: 0.3s;" *ngIf="(formCondition && actionForm==='S') || actionForm==='E'">
        <div class="row" *ngIf="actionForm==='S'">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="../../../../../../assets/images/media/formSections/two.png" class="img rounded mx-auto d-block" alt="two">
            </div>
        </div>
        <mat-divider></mat-divider>
        <section style="padding-top:10px ;padding-bottom: 5px;">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 ">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label class="text-center">DNI o Nro de documento</mat-label>
                            <input formControlName="nationalId" [disabled]="disabledCondition || actionForm==='E'" class="text-center" matInput placeholder="DNI o Nro de documento*">
                        </mat-form-field>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 " *ngIf="edit===true">
                    <mat-form-field  appearance="fill" style="width: 100%;">
                        <mat-label class="text-center">Seleccionar servicio</mat-label>
                        <mat-select formControlName="serviceId">
                          <mat-option *ngFor="let value of suppliersCompanyService" [value]="value.id">
                            {{value.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
            </div>
            </div>
            <div class="row" >
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <mat-form-field style="width: 100%;" appearance="fill">
                        <mat-label class="text-center">Nombres</mat-label>
                        <input formControlName="name" [disabled]="disabledCondition" matInput placeholder="Nombres*">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <mat-form-field style="width: 100%;" appearance="fill">
                        <mat-label class="text-center">Apellido paterno</mat-label>
                        <input formControlName="lastName1" [disabled]="disabledCondition" matInput placeholder="Apellido paterno*">
                    </mat-form-field>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <mat-form-field style="width: 100%;" appearance="fill">
                        <mat-label class="text-center">Apellido materno</mat-label>
                        <input formControlName="lastName2" [disabled]="disabledCondition" matInput placeholder="Apellido materno*">
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                <mat-form-field  style="width: 100%;" appearance="fill">
                    <mat-label class="text-center">Correo</mat-label>
                    <input formControlName="mail" [disabled]="disabledCondition" matInput placeholder="Correo*">
                </mat-form-field>
                </div>
            
        
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <mat-form-field  style="width: 100%;" appearance="fill">
                        <mat-label class="text-center">Código de empleado (Propia empresa)</mat-label>
                        <input formControlName="codeCompany" [disabled]="disabledCondition"  matInput placeholder="Código de empleado (Propia empresa)">
                    </mat-form-field>
                </div>   
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <mat-form-field  style="width: 100%;" appearance="fill">
                        <mat-label class="text-center">Fecha de Nacimiento</mat-label>
                        <input formControlName="birthDate" [disabled]="disabledCondition" type="date" matInput placeholder="Nacimiento">
                    </mat-form-field>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <mat-form-field  style="width: 100%;" appearance="fill">
                        <mat-label class="text-center">Seleccionar Género</mat-label>
                        <mat-select formControlName="gender" [disabled]="disabledCondition" placeholder="Género">
                            <mat-option value="F">Femenino</mat-option>
                            <mat-option value="M">Masculino</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" >
                    <mat-form-field style="width: 100%;" appearance="fill">
                        <mat-label>Actividad o puesto</mat-label>
                        <input formControlName="activity" [disabled]="disabledCondition" matInput placeholder="Actividad o puesto">
                    </mat-form-field>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4" *ngIf="actionForm==='S'">
                <button mat-raised-button (click)="previousForm()" class="fas fa-arrow-circle-left btn btn_back"> Volver</button> 
            </div>  
            <div class="col-xs-12 col-sm-12 col-md-4" *ngIf="actionForm==='S'">
                <button mat-raised-button (click)="addNewSupplier(create)" class="fas fa-check-circle btn btn_movistarceleste"> {{submitText}}</button> 
            </div> 
           
        </div>  
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 offset-md-3" *ngIf="actionForm==='E'">
                <button mat-raised-button (click)="addNewSupplier(create)" class="fas fa-check-circle btn btn_movistarceleste"> {{submitText}}</button> 
            </div> 
        </div>
        
    </div>

</div>