.cardtdp{
    padding: 20px 0;
    margin: 0 25px;
    border-radius: 4px;
    background: white;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.cardtdp-content{
    padding: 30px;
}
.titlecomp{
    margin: 0 25px;
    /* padding: 30px; */
    color: #565656;
}
.titlecomp h3{
    margin: auto;
}
.titlecomp p{
    margin: auto;
}

.form-baner-terceros{
    background: #f1f1f1;
    color: #717171;
    margin-bottom: 15px;
    display: flex;
    padding: 15px 8%;
}

// ---- QR
.mqr-cip{
    text-align: center;
    color: #979797;
}

.mqr-info{
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    align-items: center;
}
.qr-status{
    background-color: #5bc500;
    color: #fff;
    padding: 1px 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
.qr-status-2{
    background-color: #e94f4f;
    color: #fff;
    padding: 1px 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}
.qr-vencimiento{
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #979797;
}
.qr-recomendaciones-list{
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
    color: #979797;
}
.qr-block{
    width: max-content;
    height: max-content;
    margin: 15px auto;
    background: #fff;

}
.qr-block img{
    margin: auto;
}
.button-terceros-cont {
    display: flex;
    width: 100%;
}
.button-terceros-primary{
    margin: 20px auto;
    color: #fff;
    background-color: #5bc500;
}
.button-terceros-secondary{
    width: 50%;
    margin: 20px;
    border: solid 2px #5bc500;
    color: #5bc500;
    background-color: transparent;
}
.close-qr{
    position: absolute;
    right: -15px;
    top: -15px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 12px;
    border: none;
    color: #979797;
    font-size: 12px;
}
//--
@media (max-width: 600px) {
    .cardtdp {
      margin: 0;
    }
    .cardtdp-content{
        padding: 10px;
    }
    .form-baner-terceros{
        padding: 15px;
    }
    h5{
        font-size: 1rem;
    }
}

// css joao
.title-form-access{ 
    text-align: center;font-size: 18px;
    padding: 5px;
}
.indications{
    text-align: center; margin-top: 20px;
    font-size: 17.5px;
}
.access-label{
    font-size: 15px;
}
.main-title {
    color: #00a9e0;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}
@media(max-width:780px){ 

    .title-form-access{ 
        font-size: 17.5px;
    }
    .indications{
        text-align: center; margin-top: 20px;
        font-size: 14.5px;
    }
    .access-label{
        font-size: 14px;
    }
    .main-title{ 
        font-size: 22.5px;
    }
}
@media(max-width:500px){ 

    .title-form-access{ 
        font-size: 15px;
    }
    .indications{
        text-align: center; margin-top: 20px;
        font-size: 12.5px;
    }
    .access-label{
        font-size: 13px;
    }
    .main-title{
        font-size: 19.5px;
    }
}
