    <div class="container-home">
        <div class="cardtdp terceros-w-50">
            <img style="width: 100%;" src="../../../../../../../assets/images/media/terceros/baner.png" alt="supplier">
            <div class="cardtdp-content">
                <div (click)="generatePass()" class="buton-desc-home">
                    <em class="fas fa-plus-circle"></em>
                    <div style="flex:  1 1;">Generar pase de ingreso</div>
                    <span class="fa-btn-row"> > </span> 
                </div>
                <div (click)="activePass()" class="buton-desc-home">
                    <em class="fas fa-eye"></em> 
                    <div style="flex:  1 1;">Ver pase activo</div>
                    <span class="fa-btn-row"> > </span> 
                </div>
                <div (click)="symptoms()" class="buton-desc-home">
                    <em class="fas fa-lungs-virus fa-btn-hover"></em> 
                    <div style="flex:  1 1;">Reportar síntomas</div>
                    <span class="fa-btn-row"> > </span> 
                </div>
            </div>
        </div>
    </div>
