
<div class="bg-info border-right p-3" id="sidebar">

    <!-- <i class="fab fa-redhat"></i> -->
    <hr />

    <div class="navbar">
        <ul class="list-group fixed">
            <li routerLink=""               class="list-group-item">Dashboard</li>
            <li routerLink="baseHistorica"  class="list-group-item">Base Historica</li>
            <li routerLink="periodoVigente" class="list-group-item">Periodo Vigente</li>
            <li routerLink="mapas"          class="list-group-item">Mapas</li>
            <li routerLink="tabla"          class="list-group-item">Cuadros Estadisticos</li>
            <li routerLink="gestores"       class="list-group-item">Directorio de gestores</li>
            <li routerLink="favoritos"      class="list-group-item">Favoritos</li>
            <li routerLink="notificaciones" class="list-group-item">Notificaciones <p style="display: inline-block; font-size: 1.8em; color: red;">&#8252;</p> </li>
            <li routerLink="usuario"        class="list-group-item">Perfil</li>
        </ul>
    </div>
  </div>



