fieldset{
    border-radius: 5px;
    border-style: groove;
    
    padding: 5px 10px;
    justify-content: center;
    flex-wrap: wrap;
    
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container_checkbox1{

        width:100%;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -mos-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;


}
.container_checkbox1::before{

    width:100%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -mos-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

}
input[type="checkbox"]{
    position: relative;
    top:5px;
    width: 20px;
    height: 20px;
    outline: none;
    -webkit-appearance: none;
    transition: .5s;
    margin-right: 10px;
}
input[type="checkbox"]:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #00a9e0;
    box-sizing: border-box;
    transition: .5s;
}
input:checked[type="checkbox"]:before{
    border-left: none;
    border-top: none;
    width: 10px;
    border-color: #0f0;
    transform: rotate(45deg) translate(5px,-10px);
}
.txt-area{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    height: 60px;
    overflow-y: scroll;
    border: 1px solid rgb(0,169,224);
}

.btn_add{
    background-color: #5BC500;
    color:#ffffff;
}
.btn-clean{
    background-color: #E9426D;
    color:#ffffff;
}
.label-format{
   color: #00a9e0;
}

.header-table{
    background-color: #00a9e0;color: #ffffff;text-align: center;
}
.remove-item{
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    background-color: #EC6839;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.modalclosebutton{
    width: 30px;
      height: 30px;
      border-radius: 15px;
      background: #00a9e0;
      text-align: center;
      color: #fff;
      transition: ease-out 0.15s;
      line-height: 32px;
      cursor: pointer;
  }